@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
  <main>
    <div class="card">
      <div class="search">
        <form class="search-form form-control form-control-lg pt-5 pb-5" style="border:0; background-color: transparent;" method="post">
          <label class="search-form-label" asp-for="Search_String" style="display:none;"></label>
          
            <div class="input-group d-flex justify-content-center ">
              <input class="search-form-input" asp-for="Search_String" placeholder="No City Found">
              <button class="btn btn-light btn-dark" type="submit">search</button>
            </div>
        </form>
      </div>
      <div class="search-values">
        <div class="item">City: @Model.City.Name</div>
        <div class="item">Longitude: @Model.City.Lon</div>
        <div class="item">Lattitude: @Model.City.Lat</div>
        <div class="item">Condition: @Model.Weather.Condition</div>
        <div class="item">Description: @Model.Weather.Description</div>
        <div class="item">Min-Temp: @Model.Weather.Temp_min</div>
        <div class="item">Max-Temp: @Model.Weather.Temp_max</div>
        <div class="item">Time: @Model.Weather.Dt</div>
        <div class="item">Timezone: @Model.Weather.Timezone</div>
      </div>
    </div>
  </main>
</body>
@* <body>
  <div class="d-flex justify-content-center mt-5">
    <form method="post">
      <div class="input-group">
        <label class="form-label" asp-for="Search_String"> search </label>
        @if(@Model.status_code_ok == false)
        {
          <input class="form-control" asp-for="Search_String" placeholder="No City Found">
        }
        else
        {
          <input calss="form-control" asp-for="Search_String">
        }
        <input type="submit" value="Search" class="btn btn-primary btn-sm" />
      </div>
    </form>
  </div>
 
</body>
<br>
<div class="container">
  <div class="row">
    <div class="column p-2" style="flex:0 0 20%">
      @Model.City.Name
    </div>
    <div class="column p-2" style="flex: 0 0 20%">
      @Model.City.Lon
    </div>
    <div class="column p-2" style="flex:0 0 20%">
      @Model.City.Lat
    </div>
    <div class="column p-2" style="flex:0 0 20%">
      @Model.Weather.Condition
    </div>
    <div class="column p-2" style="flex:0 0 20%">
      @Model.Weather.Description
    </div>
    <div class="column p-2" style="flex:0 0 20%">
      @Model.Weather.Temp_min
    </div>
    <div class="column p-2" style="flex:0 0 20%">
      @Model.Weather.Temp_max
    </div>
    <div class="column p-2" style="flex:0 0 20%">
      @Model.Weather.Dt
    </div>
    <div class="column p-2" style="flex:0 0 20%">
      @Model.Weather.Timezone
    </div>
  </div>
</div> *@
